body,
html {
  margin: 0 auto;
  max-width: 1980px;
  background-color: rgb(85, 85, 85);
}

div {
  align-content: center;
}

#hero {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#desk,
#person,
#graphic {
  width: 300px;
  border: 10px solid rgb(41, 40, 40);
  border-radius: 200px;
  margin: 100px;
}


