* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
#fullScreenDiv {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu-nav a {
  text-decoration: none;
  cursor: pointer;
  color: #b89e5d;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin: 20px;
}
#socials-menu i{
  color: #b89e5d;
}
/* -----------------------header----------------------- */
header {
  position: absolute;
  z-index: 10;
  height: 90px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
}
.socials i:hover,
.menu i:hover {
  color: #999;
}
.menu i {
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  position: relative;
  line-height: 1.2;
  font-size: 1.7em !important;
  color: #fff;
  padding: 10px;
  transition: 0.5s ease;
}
.menu button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.logo img {
  width: 170px;
  height: auto;
}
#header-second-icon {
  display: none;
  max-height: 80px !important;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials i {
  position: relative;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1.2;
  font-size: 1.3em !important;
  color: #fff;
  padding: 10px;
  transition: 0.5s ease;
  margin: 0 5px;
}
.socials i .tooltip {
  position: absolute;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.socials i:hover .tooltip {
  opacity: 1;
}
/* -----------------------hero banner----------------------- */
.hero-banner {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  cursor: grab;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
  animation: banner 36s infinite linear;
}
.hero-banner img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.hero-banner h1 {
  position: absolute;
  margin-top: 20%;
  margin-left: 5%;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 2.23rem;
  line-height: 1;
  letter-spacing: 0.05em;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}
.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #fff;
  height: 0.5em;
  width: 0.5em;
  top: 0.6em;
  margin-left: -0.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll 2s ease-out infinite;
}
.scroll-icon {
  display: block;
  position: relative;
  width: 30px;
  height: 50px;
  border: 0.1em solid #fff;
  border-radius: 25px;
  opacity: 0.5;
  box-shadow: inset 0 0 0 1px #fff;
}
.page-wrap {
  display: flex;
  height: 100vh;
}
.scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 3%;
}
/* -----------------------primer div----------------------- */
.primer-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.primer-div h2 {
  color: #432724;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 3em;
}
#h2-video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 40px;
  margin-top: 50%;
}
#h2-video img {
  height: 80px;
  margin: 2%;
}
.box-container {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
}
.box img {
  height: 120px;
  width: 100%;
  margin: 30px;
  opacity: 0.3;
}
.box img:hover {
  opacity: 1;
  transition: 0.5s ease;
}
/* -----------------------segundo div----------------------- */
.segundo-div,
.tercer-div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.segundo-div h2 {
  color: #b89e5d;
  font-size: 2.2em;
}
.segundo-div h3 {
  color: #432724;
}
.segundo-div p {
  width: 70%;
  margin: 20px;
  color: #838180;
  text-align: center;
  font-size: 16px;
}
.segundo-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#segundo-banner {
  width: 100%;
  height: 550px;
  background-image: url("../images/hero4.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 39, 36, 0.5);
  z-index: 10;
  text-align: center;
  padding: 30px;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
}
.close {
  float: right;
  font-size: 58px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #b89e5d;
  border-radius: 100%;
  color: #b89e5d;
  top: 0;
  right: 0;
  opacity: 1;
  margin: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  min-height: 0;
  cursor: pointer;
  outline: none;
  z-index: 1046;
  width: 40px;
  text-decoration: none;
  text-align: center;
  box-shadow: none;
  height: 40px;
  line-height: 40px;
  font-family: Arial, monospace;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
/* -----------------------tecer div----------------------- */
#tercer-banner {
  width: 100%;
  height: 550px;
  background-image: url("../images/grano-de-cafe.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}
.tercer-div h2 {
  color: #fff;
  line-height: 1em;
  font-weight: 700;
  font-size: 2.2em;
}
.tercer-div p {
  width: 70%;
  margin: 30px;
  color: #f1f1f1;
  text-align: center;
  font-size: 16px;
}
.tercer-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b89e5d;
}
/* -----------------------cuarto-div----------------------- */
.cuarto-div {
  width: 100%;
  height: 550px;
  background-image: url("../images/coffe.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}
/* -----------------------quinto-div----------------------- */
.quinto-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.quinto-div img {
  width: 100%;
  height: auto;
}
.quinto-div h2 {
  position: absolute;
  color: #432724;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 3em;
}
.div-span {
  text-shadow: 2px 0 0 #432724, -2px 0 0 #432724, 0 2px 0 #432724,
    0 -2px 0 #432724, 1px 1px #432724, -1px -1px 0 #432724, 1px -1px 0 #432724,
    -1px 1px 0 #432724;
  color: #f9f6f1;
  letter-spacing: 0.1em;
}
.carrusel a {
  font-size: 1.25rem;
  color: #432724;
}
/* -----------------------carrusel----------------------- */
.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
.elementos {
  flex: 1 0 auto;
  margin: 0 50px;
  background-color: transparent;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.elementos h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #432724;
  z-index: 999999;
}
.elementos img,
.contenedor img {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.elementos img:hover,
.contenedor img:hover {
  transform: scale(1.1);
}
.carrusel::-webkit-scrollbar {
  width: 10px;
  height: 13px;
}
.carrusel::-webkit-scrollbar-thumb {
  background-color: #432724;
  border-radius: 16px;
}
/* -----------------------segunda pagina----------------------- */
#segunda-pagina {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#segunda-pagina h1 {
  margin: 40px;
}
#segunda-pagina h2 {
  margin: 20px;
}
/* -----------------------tercera pagina----------------------- */
.productos-banner {
  width: 100%;
  height: 300px;
  background: url("../images/slider-02.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.productos-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.productos-banner p {
  font-size: 2em;
  color: #ffffff;
  position: relative;
  z-index: 1;
  mix-blend-mode: lighten;
  padding: 20px;
  margin-top: 5%;
}
.filter {
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  height: 75px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.filter i {
  font-size: 24px;
  margin-left: 15%;
}
.contenedor h2 {
  margin: 40px;
  z-index: 999999;
}
.galeria-contenedor h4 {
  position: relative;
  z-index: 999999;
}
.contenedor h2:hover,
.galeria-contenedor h4:hover {
  color: #b89e5d;
}
.galeria-contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.galeria-contenedor div {
  margin: 10px;
}
.productos-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 15%;
  margin-bottom: 3%;
}
/* -----------------------footer----------------------- */
footer {
  width: 100%;
  height: fit-content;
  padding: 15px 0;
  font-weight: 300 !important;
  color: #b89e5d !important;
  font-size: 0.65em;
  background-color: #432724;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer strong {
  color: #b89e5d !important;
}
footer a {
  color: #b89e5d;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}
.box1 {
  justify-self: center;
  align-self: center;
}
.box2 {
  justify-self: left;
  align-self: center;
  padding-left: 20px;
}
.footer-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
/* --------------------------------keyframes-------------------------------- */
@keyframes banner {
  0% {
    background-image: url("../images/hero1.webp");
  }
  16.666% {
    background-image: url("../images/hero1.webp");
  }
  16.667% {
    background-image: url("../images/hero2.webp");
  }
  33.333% {
    background-image: url("../images/hero2.webp");
  }
  33.334% {
    background-image: url("../images/hero3.webp");
  }
  50% {
    background-image: url("../images/hero3.webp");
  }
  50.001% {
    background-image: url("../images/hero4.webp");
  }
  66.667% {
    background-image: url("../images/hero4.webp");
  }
  66.668% {
    background-image: url("../images/hero5.webp");
  }
  83.334% {
    background-image: url("../images/hero5.webp");
  }
  83.335% {
    background-image: url("../images/hero6.webp");
  }
  100% {
    background-image: url("../images/hero6.webp");
  }
}
@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
/* --------------------------------media-------------------------------- */
@media (max-width: 840px) {
  @keyframes banner {
    0% {
      background-image: url("../images/hero-movile.webp");
    }
    100% {
      background-image: url("../images/hero-movile.webp");
    }
  }
  .hero-banner h1 {
    position: absolute;
    margin-top: 30%;
    margin-left: 5%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.05em;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  }
  .primer-div,
  .segundo-div,
  .tercer-div {
    grid-template-columns: 1fr;
  }
  .segundo-div,
  .tercer-div h2 {
    margin: 20px;
  }
  .quinto-div h2 {
    margin-top: 20%;
    z-index: 9999;
  }
  .elementos img:hover {
    transform: none;
  }
  .productos-grid {
    margin-left: 1%;
  }
  .galeria-contenedor img {
    width: 250px;
  }
}
