body {
  font-family: Inter Display, sans-serif;
  background-color: #0d1117;
  color: #acb8c4;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
.main_h1{
  font-size: 3.0em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #ACB8C4;
  font-weight: 800;
}
.logo {
  height: 80px;
  width: 80px;
  border-radius: 150px;
}
header {
  width: 100%;
  height: 90px;
  /* background-color: #0d1117; */
  background-color: #ACB8C4;
}
.inner_header {
  outline: solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box1 {
  outline: solid red;
  grid-column: 1;
}
.box2 {
  outline: solid red;
  grid-column: 2;
}
